   body {
    background-color: rgb(143, 212, 166)

   }
   
   
   
   
   h1{
    color:black
    font-size: 50pt;  }

h2{ font-size: 20pt; }

img{
    width:400px;
    height: 300px;  }  
    
    button {

        background-color: rgb(190, 104, 46)
    }